# We can use markdown and do code cells

## Displaying the data

In [ ]:
import pandas as pd
from IPython.display import display


# Cargar el archivo .xlsx especificando la hoja
df = pd.read_excel("RawObesityDataset.xlsx", sheet_name="Obesity_Dataset")

# Muestra las primeras filas
display(df.head())

,Sex,Age,Height,Overweight_Obese_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Physical_Excercise,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
0,2,18,155,2,2,3,1,3,2,1,2,3,3,4,2
1,2,18,158,2,2,3,1,1,2,1,2,1,3,3,2
2,2,18,159,2,2,2,1,3,2,3,2,2,3,4,2
3,2,18,162,2,2,2,2,2,2,2,2,1,3,4,2
4,2,18,165,2,1,2,1,3,2,1,2,3,3,2,2

## Statistics about the data

In [43]:
# Summary statistics
display(df.describe())

,Sex,Age,Height,Overweight_Obese_Family,Consumption_of_Fast_Food,Frequency_of_Consuming_Vegetables,Number_of_Main_Meals_Daily,Food_Intake_Between_Meals,Smoking,Liquid_Intake_Daily,Calculation_of_Calorie_Intake,Physical_Excercise,Schedule_Dedicated_to_Technology,Type_of_Transportation_Used,Class
count,1610.000000,1610.000000,1610.000000,1610.000000,1610.000000,1610.000000,1610.000000,1610.000000,1610.00000,1610.000000,1610.000000,1610.000000,1610.000000,1610.000000,1610.000000
mean,1.557764,33.115528,167.741615,1.834783,1.729193,2.063354,1.872050,2.395652,1.69441,2.108696,1.822360,3.265839,2.012422,2.667081,2.678882
std,0.496806,9.835076,7.979873,0.371492,0.444515,0.746043,0.638345,1.010501,0.46080,0.814710,0.382328,1.343035,0.697929,1.518388,0.815855
min,1.000000,18.000000,150.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,25.000000,161.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.00000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000
50%,2.000000,32.000000,168.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,3.000000,2.000000,3.000000,3.000000
75%,2.000000,41.000000,174.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.00000,3.000000,2.000000,4.000000,2.000000,4.000000,3.000000
max,2.000000,54.000000,193.000000,2.000000,2.000000,3.000000,3.000000,4.000000,2.00000,3.000000,2.000000,5.000000,3.000000,5.000000,4.000000

### Data cleaning

From the statistics seen before, we observe that there is no outliers in any of the features and no missing values (since the count of all features is the same).
As a result, nodata cleaning is required

### Re-encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

# I am a bit uncomfortable with the idea of encoding binary features to 1 and 2.
# Instead, I mapped them to 1 and 0
df['Sex'] = df['Sex'].map({1.0: 1, 2.0: 0})
df['Overweight_Obese_Family'] = df['Overweight_Obese_Family'].map({1.0: False, 2.0: True})
df['Smoking'] = df['Smoking'].map({1.0: False, 2.0: True})
df['Calculation_of_Calorie_Intake'] = df['Calculation_of_Calorie_Intake'].map({1.0: False, 2.0: True})

#One-hot encoding: ex: 1 -> [1,0,0,0], 2 ->[0,1,0,0], 3 ->[0,0,1,0]. This is very important for so that a distance-based model would not interpret it as a comparable-values feature
df = pd.get_dummies(df, columns=['Type_of_Transportation_Used'], drop_first=True)

### Normalization and standardization

In [45]:
from sklearn.preprocessing import StandardScaler

continuous_features = [
    'Age',
    'Height',
    'Consumption_of_Fast_Food',
    'Frequency_of_Consuming_Vegetables',
    'Number_of_Main_Meals_Daily',
    'Food_Intake_Between_Meals',
    'Liquid_Intake_Daily',
    'Physical_Excercise',
    'Schedule_Dedicated_to_Technology']

scaler = StandardScaler()
df[continuous_features] = scaler.fit_transform(df[continuous_features])

### Saving clean dataset

Do not run the cell below. If you do you will get "PermissionError" since there is a file that is already saved using the same name

In [46]:
from openpyxl import load_workbook

# Save the DataFrame to Excel
df.to_excel("cleaned_dataset.xlsx", index=False)

# Load the workbook and select the active worksheet
workbook = load_workbook("cleaned_dataset.xlsx")
worksheet = workbook.active

# Adjust column widths
for col in worksheet.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column name (e.g., 'A', 'B', 'C', ...)
    
    # Find the maximum length of the column header and values in each column
    for cell in col:
        try:
            max_length = max(max_length, len(str(cell.value)))
        except:
            pass
    
    # Set the column width to the maximum length + some padding
    worksheet.column_dimensions[column].width = max_length + 2

# Save the modified workbook
workbook.save("cleaned_dataset.xlsx")